out
.vscode
build/ib/1CHelpIndex
build/ib/1Cv8FTxt
build/ib/1Cv8IntegSrvc
build/ib/1Cv8JobScheduler
build/ib/1Cv8Log
build/ib/*.cfl
build/ib/*.cgr
build/ib/*.1cl
build/ib/1Cv8tmp.1CD
build/*.cf
1Cv8.1CD
ConfigDumpInfo.xml
Доступы.txt
DoNotCopy.txt